@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.login{
    height: 100vh;
    background:linear-gradient(120deg, #7D0CF8,#0B4FD9);
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner{
    min-height: 400px;
    width: 300px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    margin-bottom: 30px;
    color: #2b2a2a;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 5px;
    border: unset;
    outline: none;
    position: relative;
}
.border{
    height: 1px;
    width: 100%;
    margin-bottom: 15px;
    background: #cfcfcf;
    
    transition: .3s ease-in-out;
}
span.border::after{
    content: '' ;
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 15px;
    background: linear-gradient(120deg, #7D0CF8,#0B4FD9);
    transition: .3s ease-in-out;
}
 span.border:hover{
    width: 100%;

}
button.botao{
    height: 48px;
    width: 100%;
    outline: none;
    background: linear-gradient(120deg, #7D0CF8, #0B4FD9, #7D0CF8);
    background-size: 200%;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
button.botao:hover{
    background-position: right;
}
.reset{
    font-size: 13px;
    text-decoration: none;
}